@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Kosugi&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kosugi', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(3, 1fr);
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
                       
}