footer{
    height: 15vh;
    grid-area:footer;
    background: linear-gradient(90deg, rgba(231,0,0,1) 0%, rgba(83,37,30,0.9556197478991597) 49%, rgba(24,21,21,1) 100%);    
    color: white;
    text-align: center;
    display: inline-block;
    
    
}