main{
    height: 70vh;
    grid-area: main;}
.home{
    display: flex;
   
        .homeTexto{
            padding: 1px;
            margin: 25px;
            h1{
                font-size: 50px;
                color: black;
                margin: 15px;
            }
           p{
            padding-right: 50px;
            margin: 15px;
           }
        }
        .homeVideo{  
            width: 50%;  
            padding-right: 35px;
            video{
                width: 650px;
                height: 400px;
                margin-top: 25px;
                
                        
              
            }
            
        }
    }